# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  snyk: snyk/snyk@1.2.3
  docker: circleci/docker@1.7.0

executors:
  docker-publisher:
    environment:
      IMAGE_NAME: kitman20022002/techscrumapp
    docker: # Each job requires specifying an executor
      # (either docker, macos, or machine), see
      - image: cimg/node:lts
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD
# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  dast:
    docker:
      - image: cimg/node:16.17.0-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
            - ~/.npm
            - ~/.cache
          key: v1-dependencies-{{ checksum "package.json" }}
  #      - snyk/scan
  dscan:
    docker:
      - image: cimg/node:16.17.0-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
            - ~/.npm
            - ~/.cache
          key: v1-dependencies-{{ checksum "package.json" }}
  #      - snyk/scan
  sast:
    docker:
      - image: cimg/node:16.17.0-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
            - ~/.npm
            - ~/.cache
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm run lint
  unit_test:
    docker:
      - image: cimg/node:14.21
    steps:
      - checkout
      - run:
          name: Check commit message
          command: |
            if git log --pretty=format:"%s" -n 1 | grep -q "[skip ci]"; then
              echo "Commit message indicates to skip CI. Exiting."
              circleci-agent step halt
            fi
  skip_ci_check:
    docker:
      - image: cimg/node:14.21
    steps:
      - checkout
      - run:
          name: Check commit message
          command: |
            if git log --pretty=format:"%s" -n 1 | grep -q "[skip ci]"; then
              echo "Commit message indicates to skip CI. Exiting."
              circleci-agent step halt
            fi
  semantic_release:
    docker:
      - image: cimg/node:14.21
    steps:
      - checkout
      - run:
          name: Check commit message
          command: |
            if git log --pretty=format:"%s" -n 1 | grep -q "[skip ci]"; then
              echo "Commit message indicates to skip CI. Exiting."
              circleci-agent step halt
            fi
  integration_test:
    docker:
      - image: cimg/node:16.17.0-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
            - ~/.npm
            - ~/.cache
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm test
# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  server_deploy:
    jobs:
      - skip_ci_check
      - dscan:
          requires:
            - skip_ci_check
      - dast:
          requires:
            - skip_ci_check
      - sast:
          requires:
            - skip_ci_check
      - unit_test:
          requires:
            - skip_ci_check
      - integration_test:
          requires:
            - skip_ci_check
      - semantic_release:
          requires:
            - sast
            - dast
            - dscan
            - integration_test
            - unit_test
          filters:
            branches:
              only:
                - master
